html {
    width: 100%;
}

#table_body {
    background-image: url("../images/cars_background.png");
    background-size: 100%;
}

.control-buttons {
    text-align: center;
}

form {
    /*margin: auto;*/
    font-size: 20px
}

#car_form {
    width: 400px;
    max-width: 400px;
    height: 350px;
    max-height: 350px;
    display: inline-block;
    font-family: sans;
}

#radio {
    margin: auto;
    width: 300px;

}

#addButton {
    background-color: mediumpurple;
    width: 619px;
    color: white;
    border: none;
    display: inline-block;
    font-size: 24px;
    padding: 16px 32px;

}

#btnGetCount {
    background-color: mediumpurple;
    color: white;
    width: 292px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 16px 32px;
}

legend {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    position: relative;
    right: 30px;
}

label.input_field {
    display: inline-block;
    padding-right: 10px;
    width: 100px;
    text-align: right;
}

.send_button {
    padding-top: 10px;
    padding-left: 15px;
}

button {
    padding: 8px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
}

input {
    font-size: 16px;
}

input:valid {
    border: 2px solid #00DC00;
}

input:invalid:focus {
    border: 2px solid #00B3FF;
}

input:focus:invalid {
    outline: none;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: mediumpurple;
    color: #ffffff;
    text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid mediumpurple;
}

table tbody tr.active-row {
    font-weight: bold;
    color: mediumpurple;
}
