@(carForm: Form[models.CarHandler.CarFormData], cars: Seq[models.CarHandler.Car])(implicit request: RequestHeader)

@main("Car directory") {
    <body id="table_body">
        <div class="control-buttons">
            <input type="button" value="Новый" id="addButton"
            onclick="window.open('register.scala.html',
                    'newwindow',
                    'width=400,height=350,resizable=no');
            return false;"
            />
            <input type="button" id="btnGetCount" value="Статистика" onclick = "getStat()" />
        </div>
        <div class="car-display" >
          <table id="carTable">
            <thead>
              <tr>
                <th onclick="sortTable(0)">Номер</th>
                <th onclick="sortTable(1)">Марка</th>
                <th onclick="sortTable(2)">Модель</th>
                <th onclick="sortTable(3)">Цвет</th>
                <th onclick="sortTable(4)">Количество л. с.</th>
                <th onclick="sortTable(5)">Владельцев</th>
                <th onclick="sortTable(6)">Год</th>
                <th onclick="sortTable(7)">Добавлено</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            @for(car <- cars){
              <tr>
                <td>@car.number</td>
                <td>@car.brand</td>
                <td>@car.model</td>
                <td>@car.color</td>
                <td style="text-align: center">@car.horse_forces</td>
                <td style="text-align: center">@car.owners_count</td>
                <td>@car.year</td>
                <td>@car.added</td>
                <td><a href="@routes.HomeController.deleteCar(car.number)">
                    <img src="@routes.Assets.versioned("images/cross.png")" width="20" height="20">
                    </a>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
    </body>
}
