@(carForm: Form[models.CarHandler.CarFormData], cars: Seq[models.CarHandler.Car])(implicit request: RequestHeader)

@main("Car directory") {

  <form action='@routes.HomeController.addCar()' method="post">
    <fieldset>
      <legend>Регистрация авто</legend>
      <ul>
        <li>
          <label for="number">Номер:</label>
          <input type="text" id="number" name="number" placeholder="A000AA96"
            required pattern="^[АВЕКМНОРСТУХABEKMHOPCTYXA]{1}[0-9]{3}[АВЕКМНОРСТУХABEKMHOPCTYXA]{2}\d{2,3}$"
            oninvalid="this.setCustomValidity('Пожалуйста, введите номер автомобиля в формате &laquo;A000AA00&raquo;')"
            oninput="this.setCustomValidity('')" />
          <span class="error" aria-live="polite"></span>
        </li>
        <li>
          <label for="brand">Марка:</label>
          <input type="text" id="brand" name="brand" placeholder="Bentley" required pattern="[A-Za-z]*"
            oninvalid="this.setCustomValidity('Пожалуйста, введите корректную марку автомобиля')"
            oninput="this.setCustomValidity('')" />
        </li>
        <li>
          <label for="model">Модель:</label>
          <input type="text" id="model" name="model" placeholder="Continental" required>
        </li>
        <li>
          <label for="color">Цвет:</label>
          <input type="text" id="color" name="color" placeholder="Black" required pattern="[A-Za-z]*"
            oninvalid="this.setCustomValidity('Пожалуйста, введите корректный цвет на латинице')"
            oninput="this.setCustomValidity('')"
          />
        </li>
        <li>
          <label for="year">Год:</label>
          <input type="text" id="year" name="year" placeholder="2007" required pattern="^(19|20)\d{2}$"
            oninvalid="this.setCustomValidity('Пожалуйста, введите корректный год')"
            oninput="this.setCustomValidity('')"
          />
        </li>
        <li>
          <label for="horse_forces">Кол-во л.с.:</label>
          <input type="text" id="horse_forces" name="horse_forces" min="0" max="500" required
            oninvalid="this.setCustomValidity('Пожалуйста, введите количество лошадиных сил')"
            oninput="this.setCustomValidity('')"
          />
        </li>
        <li>
          <label class="owners_count">Владельцев:</label>
@*          <label class="owners_count">*@
          <div id="owners">
            <input type="radio" name="owners_count" value="1"> 1<Br>
@*          </label>*@
@*          <label class="owners_count">*@
            <input type="radio" name="owners_count" value="2"> 2<Br>
@*          </label>*@
@*          <label class="owners_count">*@
            <input type="radio" name="owners_count" value="3"> 3 и более<Br>
@*          </label>*@
          </div>
        </li>
        <li class="button">
          <div class="send_button">
            <button type="submit">Зарегистрировать!</button>
          </div>
        </li>
      </ul>
    </fieldset>
  </form>

<div class="car-display" >
      <fieldset>
        <legend align="center">База авто</legend>
        <table cellspacing="20" id="carTable">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Номер</th>
              <th onclick="sortTable(1)">Марка</th>
              <th onclick="sortTable(2)">Модель</th>
              <th onclick="sortTable(3)">Цвет</th>
              <th onclick="sortTable(4)">Количество л. с.</th>
              <th onclick="sortTable(5)">Владельцев</th>
              <th onclick="sortTable(6)">Год</th>
              <th onclick="sortTable(7)">Добавлено</th>
            </tr>
          </thead>
          <tbody>
            @for(car <- cars){
              <tr>
                <td>@car.number</td>
                <td>@car.brand</td>
                <td>@car.model</td>
                <td>@car.color</td>
                <td>@car.horse_forces</td>
                <td>@car.owners_count</td>
                <td>@car.year</td>
                <td>@car.added</td>
                <td><a href="@routes.HomeController.deleteCar(car.number)">Удалить</a></td>
              </tr>
            }
          </tbody>
        </table>
      </fieldset>
    </div>
<input type="button" id="btnGetCount" value="Статистика" onclick = "CountCars()" />

  <style>
    form {
      margin: auto;
      width: 500px;
      padding: 1em;
      font-size: 20px
    }

    legend {
      font-size: 24px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      position: relative;
      right: 30px;
    }

    label {
      display: inline-block;
      padding-right: 10px;
      width: 100px;
      text-align: right;
    }

    .send_button {
      padding-top: 10px;
      padding-left: 15px;
    }

    button {
      padding: 8px 32px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-size: 16px;
    }

    input {
      font-size: 16px;
    }

    input:valid {
      border: 2px solid #00DC00;
    }

    input:invalid:focus {
      border: 2px solid #00B3FF;
    }

    input:focus:invalid {
      outline: none;
    }

    /*.owners_count {*/
    /*float: right;*/
    /*display: inline;*/
    /*margin-left: 3em;*/
    /*}*/

    .owners_count input {
    }

</style>

<script type="text/javascript">
  function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchCount = 0;
  table = document.getElementById("carTable");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir === "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir === "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchCount ++;
    } else {
      if (switchCount === 0 && dir === "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

  function CountCars() {
    var carCount = 0;
    var total = 0;
    var table = document.getElementById("carTable");
    var rows = table.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
      if(rows[i].getElementsByTagName("td").length > 0) {
        carCount ++;
      }
    }
    var message = "Всего зарегистрировано автомобилей: " + carCount;
    alert(message)
  }
</script>
}
